h1{text-align: center;}
.alpha{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 200px;
}
.beta{display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    border:  black 2px;
    border-style: solid;
    border-collapse: collapse;
}
#listedejeux{
    margin-left:1/3%;
    display: block;
    border-radius: 5px;
    text-decoration:none;
    color:palegoldenrod;
    background-color: blueviolet;}
.gamma{
    display: block;
    margin: auto;
    border-radius: 100px;
    border:  black 2px;
    border-style: solid;
    border-collapse: collapse;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border: black 2px;
    border-collapse: collapse;
}
#horaire{
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: palegoldenrod;
    background-color: blueviolet;}
html{
    background-color:rgb(21, 104, 104) ;}
table#deux{border: black 2px;
    border-style: solid;
    border-collapse: collapse;}
td.da{
    border: black 2px;
    border-style:solid;
    background-color: blueviolet;
    color: palegoldenrod;}
.titre{
    background-color: blueviolet;
    color: palegoldenrod;
    text-decoration: none;}
.do{
    display: block;}
#arrow{
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;}
a{
    text-decoration: none;}
a:hover{
    color: darkorange;
    background-color: aqua;
    text-decoration: none;}
.titre:hover{color: darkorange;
    background-color: aqua;}
table#trois{border: black 2px;
    border-style: solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td.di{border: black 2px;
    border-style:solid;
    background-color: blueviolet;
    color: palegoldenrod;}
th.di{
    border: black 2px;
    border-style:solid;
    background-color: blueviolet;
    color: palegoldenrod;}
.x{
    background-color: blueviolet;
    color: palegoldenrod;
    text-decoration: none;}
.delta{
    display: block;
    margin-right:auto;
    border-radius: 100px;
    border:  black 2px;
    border-style: solid;
    border-collapse: collapse;
}
#Mod{
    margin-left:auto;
    margin-right: auto;
    padding-right: 5px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: palegoldenrod;
    background-color: blueviolet;}
td.modtable{
    border: black 2px;
    border-style:solid;
    background-color: blueviolet;
    color: palegoldenrod;
    border-collapse: collapse;
}
th.modtable{
    border: black 2px;
    border-style:solid;
    background-color: blueviolet;
    color: palegoldenrod;
    border-collapse: collapse;
}
.z{
    background-color: blueviolet;
    color: palegoldenrod;text-decoration: none;}
#wa{
    background-color: blueviolet;
    color: palegoldenrod;
    text-decoration: none;}
table#quatre{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 200px;
}
#banana{
    border: black 2px;
    border-style: solid;
    border-collapse: collapse;
    margin-left: 804px;
    margin-right: auto;
}
#apple{
    justify-content: center;
    align-items: center;
        border-style: solid;
    border: black 2px;
    border-collapse: collapse;
}
.remove{
    border: none;
    border-collapse: collapse;
}
.entre{
    width: 200px;
    border-style: solid;
    border: black 2px;
    border-collapse: collapse;
}
table#tableenemy{
    border: 2px black solid;
    border-collapse: collapse;
}
td.tdenemy{
    border: black 2px solid;
    border-collapse: collapse;
    background-color: blueviolet;
    color: palegoldenrod;
}
th.tdenemy{
    border: black 2px solid;
    border-collapse: collapse;
    background-color: blueviolet;
    color: palegoldenrod;
}v
ol{
    width: 250px;
}
.trick{
    width: 300px;
    border: black 2px solid;
    border-collapse: collapse;
}